@import "../../../App.css";

.mybutton {
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
    transition: .2s;
    width: 100%;
}

.mybutton:hover {
    background-color: var(--button-color-hover);
}

.mybutton:disabled {
    opacity: .5;
}

@media (max-width: 380px) {
    .mybutton {
        font-size: 12px;
    }
}